<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} - Image Uploader</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='icon.png') }}"/ />
</head>

<body>
  <nav id="nav-bar">
    <div>
      <a id="page-images" href="{{ url_for('images') }}">uploaded</a>
    </div>
    <div>
      <a id="page-upload" href="{{ url_for('upload') }}">MORE PICTURES NIGGA</a>
    </div>
  </nav>

  <div id="content">
    {% block content %}{% endblock %}
  </div>

  <div id="footer">
    <div>
      yoinked by © ith#5930 2020 - <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
    </div>
  </div>

  <script type=text/javascript>
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  CURRENT_PAGE_ID="{% block pageid %}{% endblock %}"
  </script>
  {% if debug %}
  <script type=text/javascript src="{{
  url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
  {% else %}
  <script type=text/javascript src="{{
  url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  {% endif %}
  <script type=text/javascript src="{{
  url_for('static', filename='js/global.js') }}"></script>
  {% block scripts %}{% endblock %}
</body>
</html>
