{% extends "layout.html" %}
{% block title %}Upload{% endblock %}
{% block content %}
  <h1>moar images nigga</h1>
  <form id="uploadfile" name="uploadfile" method=post enctype=multipart/form-data>
      <div class="button-file">
        <input id="input-file" class="button-file-input" type=file name=file>
        <label class="button-file-label" for="input-file">
          <i class="fa fa-fw fa-upload"></i>
        </label>
      </div>
      <input type=submit value=Upload>
  </form>
  {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}</p>
  {% endif %}
  {% if msg %}
    <p>{{ msg }}</p>
  {% endif %}
{% endblock %}
{% block scripts %}
  <script type=text/javascript src="{{
  url_for('static', filename='js/upload.js') }}"></script>
{% endblock %}
{% block pageid %}page-upload{% endblock %}
